@import "../../style/mixin.scss";
.food-container {
  padding-top: 6rem;
}
.sort-container {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  right: 0;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 13;
  box-sizing: border-box;
  .sort-item {
    @include sc(0.92rem, #444);
    @include wh(33.3%, 2.67rem);
    text-align: center;
    line-height: 1.67rem;
    .sort-item-container {
      @include wh(100%, 100%);
      position: relative;
      z-index: 14;
      background-color: #fff;
      box-sizing: border-box;
      padding-top: 0.5rem;
      .sort-item-border {
        height: 1.67rem;
        border-right: 0.06rem solid $bc;
      }
    }
    .sort-icon {
      vertical-align: baseline;
      transition: all 0.3s;
      fill: #666;
      margin-left: 2px;
    }
  }
  .choose-type {
    .sort-item-container {
      .category-title {
        color: $blue;
      }
      .sort-icon {
        transform: rotate(180deg);
        fill: $blue;
      }
    }
  }
  .showlist-enter-active,
  .showlist-leave-active {
    transition: all 0.3s;
    transform: translateY(0);
  }
  .showlist-enter,
  .showlist-leave-active {
    opacity: 0;
    transform: translateY(-100%);
  }
  .sort-detail-type {
    width: 100%;
    position: absolute;
    display: flex;
    top: 2.67rem;
    left: 0;
    border-top: 1px solid $bc;
    background-color: #fff;
  }
  .category-container {
    .category-left {
      flex: 1;
      background-color: #f1f1f1;
      height: 27rem;
      overflow-y: auto;
      span {
        @include sc(0.83rem, #666);
        line-height: 3rem;
      }
      .category-left-li {
        @include fj;
        padding: 0 0.83rem;
        .category-icon {
          @include wh(1.33rem, 1.33rem);
          vertical-align: middle;
          margin-right: 0.334rem;
        }
        .category-count {
          background-color: #ccc;
          @include sc(0.67rem, #fff);
          padding: 0 0.167rem;
          border: 0.06rem solid #ccc;
          border-radius: 1.33rem;
          vertical-align: middle;
          margin-right: 0.42rem;
        }
        .category-arrow {
          vertical-align: middle;
        }
      }
      .category-active {
        background-color: #fff;
      }
    }
    .category-right {
      flex: 1;
      background-color: #fff;
      padding-left: 0.83rem;
      height: 27rem;
      overflow-y: auto;
      .category-right-li {
        @include fj;
        height: 3rem;
        line-height: 3rem;
        padding-right: 0.83rem;
        border-bottom: 0.06rem solid $bc;
        span {
          color: #666;
        }
      }
      .category-right-choosed {
        span {
          color: $blue;
        }
      }
    }
  }
  .sort-list-container {
    width: 100%;
    .sort-list-li {
      height: 4.2rem;
      display: flex;
      align-items: center;
      svg {
        @include wh(1.16rem, 1.16rem);
        margin: 0 0.5rem 0 1.336rem;
      }
      p {
        line-height: 4.2rem;
        flex: auto;
        text-align: left;
        text-indent: 0.42rem;
        border-bottom: 0.06rem solid $bc;
        @include fj;
        align-items: center;
        span {
          color: #666;
        }
      }
      .sort-select {
        span {
          color: $blue;
        }
      }
    }
  }
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
    min-height: 17.7rem;
    background-color: #f1f1f1;
    .filter-header-style {
      @include sc(0.67rem, #333);
      line-height: 2.5rem;
      height: 2.5rem;
      text-align: left;
      padding-left: 0.83rem;
      background-color: #fff;
    }
    .filter-ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0.83rem 0.83rem;
      background-color: #fff;
      .filter-li {
        display: flex;
        align-items: center;
        border: 0.06rem solid #eee;
        @include wh(7.8rem, 2.3rem);
        margin-right: 0.42rem;
        border-radius: 0.21rem;
        padding: 0 0.42rem;
        margin-bottom: 0.42rem;
        .displayNone {
          display: none;
        }
        svg {
          @include wh(1.3rem, 1.3rem);
          margin-right: 0.125rem;
        }
        span {
          @include sc(0.67rem, #333);
        }
        .filter-icon {
          @include wh(1.3rem, 1.3rem);
          font-size: 0.83rem;
          border: 0.06rem solid $bc;
          border-radius: 0.25rem;
          margin-right: 0.42rem;
          line-height: 1.3rem;
          text-align: center;
        }
        .activity-svg {
          margin-right: 0.42rem;
        }
        .selected-filter {
          color: $blue;
        }
      }
    }
    .confirm-filter {
      display: flex;
      background-color: #f1f1f1;
      width: 100%;
      padding: 0.5rem 0.33rem;
      .filter-button-style {
        @include wh(50%, 3rem);
        font-size: 1.33rem;
        line-height: 3rem;
        border-radius: 0.33rem;
      }
      .clear-all {
        background-color: #fff;
        margin-right: 0.83rem;
        border: 0.06rem solid #fff;
      }
      .confirm-select {
        background-color: #56d176;
        color: #fff;
        border: 0.06rem solid #56d176;
        span {
          color: #fff;
        }
      }
    }
  }
}
.showcover-enter-active,
.showcover-leave-active {
  transition: opacity 0.3s;
}
.showcover-enter,
.showcover-leave-active {
  opacity: 0;
}
.back-cover {
  position: fixed;
  @include wh(100%, 100%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}
.shop-list-container {
  background-color: #fff;
  .shop-header {
    .shop-icon {
      fill: #999;
      margin-left: 1rem;
      vertical-align: middle;
      @include wh(1rem, 1rem);
    }
    .shop-header-title {
      color: #999;
      @include font(0.92rem, 2.7rem);
    }
  }
}
.empty-data {
  @include sc(0.835rem, #666);
  text-align: center;
  line-height: 3.34rem;
}
