<section class="cart-module">
  <section *ngIf="!foods.specifications.length" class="cart-button">
    <span
      (click)="
        removeOutCart(
          foods.category_id,
          foods.item_id,
          foods.specfoods[0].food_id,
          foods.specfoods[0].name,
          foods.specfoods[0].price,
          '',
          foods.specfoods[0].packing_fee,
          foods.specfoods[0].sku_id,
          foods.specfoods[0].stock
        )
      "
      *ngIf="foodNum()"
    >
      <svg>
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#cart-minus"
        ></use>
      </svg>
    </span>
    <span class="cart-num" *ngIf="foodNum()">{{ foodNum() }}</span>
    <svg
      class="add-icon"
      (click)="
        addToCart(
          foods.category_id,
          foods.item_id,
          foods.specfoods[0].food_id,
          foods.specfoods[0].name,
          foods.specfoods[0].price,
          '',
          foods.specfoods[0].packing_fee,
          foods.specfoods[0].sku_id,
          foods.specfoods[0].stock,
          $event
        )
      "
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="#cart-add"
      ></use>
    </svg>
  </section>
  <section *ngIf="foods.specifications.length" class="choose-specification">
    <section class="choose-icon-container">
      <svg
        class="specs-reduce-icon"
        *ngIf="foodNum()"
        (click)="showReduceTip()"
      >
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="#cart-minus"
        ></use>
      </svg>
      <span class="cart-num" *ngIf="foodNum()">{{ foodNum() }}</span>
      <span class="show-chooselist" (click)="showChooseList(foods)">
        选规格
      </span>
    </section>
  </section>
</section>
